@import "./less/reset.less";
@import "./less/variables.less";
@import "./less/globals.less";
@import "./less/typography.less";
@import "./less/inputs.less";
@import "./less/header.less";
@import "./less/lists.less";
@import "./less/grids.less";
@import "./less/menus.less";




.section_position_right:after {
  clear: both;
  display: inline-block;
  content: "";
}

.companies__lists {
  margin-top: 60px;
}

.fa {
  color: @sub-title-color;
}