@keyframes "bganim" {
 0% {
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
    .linear-gradient(#aee; 45deg; rgba(100,0,0,0.9) 0, rgba(255,204,0,0.7) 100%);
 }
 50% {
    -webkit-background-size: 2px 3px;
    -moz-background-size: 2px 3px;
    background-size: 2px 3px;
    .linear-gradient(#eae; 135deg; rgba(200,0,0,0.6) 0, rgba(255,204,0,0.6) 100%);
 }
 100% {
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
    .linear-gradient(#eea; 45deg; rgba(100,0,0,0.6) 0, rgba(255,204,0,0.7) 100%);
 }
}

@-webkit-keyframes "bganim" {
 0% {
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
    .linear-gradient(#aee; 45deg; rgba(100,0,0,0.9) 0, rgba(255,204,0,0.7) 100%);
 }
 50% {
    -webkit-background-size: 2px 3px;
    -moz-background-size: 2px 3px;
    background-size: 2px 3px;
    .linear-gradient(#eae; 135deg; rgba(200,0,0,0.6) 0, rgba(255,204,0,0.6) 100%);
 }
 100% {
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
    .linear-gradient(#eea; 45deg; rgba(100,0,0,0.6) 0, rgba(255,204,0,0.7) 100%);
 }
}

@-webkit-keyframes bganim2 {
  0% {
    background-size: 3px 3px;
  }
  50% {
    background-size: 4px 4px;
  }
  100% {
    background-size: 3px 3px;
  }
}
@-moz-keyframes bganim2 {
  0% {
    background-size: 3px 3px;
  }
  50% {
    background-size: 4px 4px;
  }
  100% {
    background-size: 3px 3px;
  }
}
@-ms-keyframes bganim2 {
  0% {
    background-size: 3px 3px;
  }
  50% {
    background-size: 4px 4px;
  }
  100% {
    background-size: 3px 3px;
  }
}
@-o-keyframes bganim2 {
  0% {
    background-size: 3px 3px;
  }
  50% {
    background-size: 4px 4px;
  }
  100% {
    background-size: 3px 3px;
  }
}
@keyframes bganim2 {
  0% {
    background-size: 3px 3px;
  }
  50% {
    background-size: 4px 4px;
  }
  100% {
    background-size: 3px 3px;
  }
}

@-webkit-keyframes bganim3 {
  0% {
    .linear-gradient(#a00; 45deg *3; #333 0, #777 75%, #999 100%);
    background-size: 5px 5px;
  }
  77% {
    .linear-gradient(#a00; 45deg; #333 0, #777 75%, #999 100%);
    background-size: 5px 5px;
  }
  79% {
    .linear-gradient(#a00; 45deg *3; #333 0, #777 75%, #999 100%);
    background-size: 5px 5px;
  }
  81% {
    .linear-gradient(#a00; 45deg; #333 0, #777 75%, #999 100%);
    background-size: 5px 5px;
  }

  85% {
    .linear-gradient(#a00; 45deg *3; #333 0, #777 75%, #999 100%);
    background-size: 5px 5px;
  }

  100% {
    .linear-gradient(#a00; 45deg *3; #333 0, #777 75%, #999 100%);
    background-size: 5px 5px;
  }

}
@-o-keyframes bganim3 {
  0% {
    .linear-gradient(#a00; 45deg *3; #333 0, #777 75%, #999 100%);
    background-size: 5px 5px;
  }
  77% {
    .linear-gradient(#a00; 45deg; #333 0, #777 75%, #999 100%);
    background-size: 5px 5px;
  }
  79% {
    .linear-gradient(#a00; 45deg *3; #333 0, #777 75%, #999 100%);
    background-size: 5px 5px;
  }
  81% {
    .linear-gradient(#a00; 45deg; #333 0, #777 75%, #999 100%);
    background-size: 5px 5px;
  }

  85% {
    .linear-gradient(#a00; 45deg *3; #333 0, #777 75%, #999 100%);
    background-size: 5px 5px;
  }

  100% {
    .linear-gradient(#a00; 45deg *3; #333 0, #777 75%, #999 100%);
    background-size: 5px 5px;
  }

}
@-moz-keyframes bganim3 {
  0% {
    .linear-gradient(#a00; 45deg *3; #333 0, #777 75%, #999 100%);
    background-size: 5px 5px;
  }
  77% {
    .linear-gradient(#a00; 45deg; #333 0, #777 75%, #999 100%);
    background-size: 5px 5px;
  }
  79% {
    .linear-gradient(#a00; 45deg *3; #333 0, #777 75%, #999 100%);
    background-size: 5px 5px;
  }
  81% {
    .linear-gradient(#a00; 45deg; #333 0, #777 75%, #999 100%);
    background-size: 5px 5px;
  }

  85% {
    .linear-gradient(#a00; 45deg *3; #333 0, #777 75%, #999 100%);
    background-size: 5px 5px;
  }

  100% {
    .linear-gradient(#a00; 45deg *3; #333 0, #777 75%, #999 100%);
    background-size: 5px 5px;
  }

}
@keyframes bganim3 {
  0% {
    .linear-gradient(#a00; 45deg *3; #333 0, #777 75%, #999 100%);
    background-size: 5px 5px;
  }
  77% {
    .linear-gradient(#a00; 45deg; #333 0, #777 75%, #999 100%);
    background-size: 5px 5px;
  }
  79% {
    .linear-gradient(#a00; 45deg *3; #333 0, #777 75%, #999 100%);
    background-size: 5px 5px;
  }
  81% {
    .linear-gradient(#a00; 45deg; #333 0, #777 75%, #999 100%);
    background-size: 5px 5px;
  }

  85% {
    .linear-gradient(#a00; 45deg *3; #333 0, #777 75%, #999 100%);
    background-size: 5px 5px;
  }

  100% {
    .linear-gradient(#a00; 45deg *3; #333 0, #777 75%, #999 100%);
    background-size: 5px 5px;
  }

}

.bg1{
  background: linear-gradient(45deg, rgba(100,0,0,0.6) 0%, rgba(255, 204, 0, 0.7) 100%) #eee;
  background-repeat: repeat;
  background-size: 3px 3px;
  -webkit-animation: bganim 3s infinite;
  animation: bganim 3s infinite;
}

.bg2 {
  background: linear-gradient(45deg, rgba(100,0,0,0.6) 0%, rgba(255, 204, 0, 0.7) 100%) #eee;
  background-repeat: repeat;
  background-size: 3px 3px;
  -webkit-animation: bganim2 1s 3s infinite ease-in-out both;
  animation: bganim2 1s 3s infinite ease-in-out both;
  transition: background 1s ease;
}

.bg3 {
  background: #fff;
  -webkit-animation: bganim3 6s infinite ease-out both;
  animation: bganim3 6s infinite  ease-out both;
}

.bg4 {
  background: linear-gradient(45deg, rgba(200, 20, 20, 1) 0, rgba(200, 20, 20, 0) 100%) linear-gradient(45deg, rgba(200, 20, 20, 0) 0, rgba(20, 200, 20, 1) 100%) 10px;
  background-repeat: repeat;
  background-size: 2px 2px;
}