.header{
  padding: 10px;
  display: block;
  background-color: @dark-background-color;
  box-shadow: 0 2px 5px 3px @shadow-color, 0 2px 5px 1px @dark-background-color;
}

.header__title {
  display: block;
}

.header__subtitle {
  display: block;
  margin-left: 1em;
  margin-top: 10px;
  padding-top: 5px;
}