@-webkit-keyframes bgpos {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 20px 20px;
  }
  100% {
    background-position: 10px 20px;
  }
}
@-moz-keyframes bgpos {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 20px 20px;
  }
  100% {
    background-position: 10px 20px;
  }
}
@-ms-keyframes bgpos {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 20px 20px;
  }
  100% {
    background-position: 10px 20px;
  }
}
@-o-keyframes bgpos {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 20px 20px;
  }
  100% {
    background-position: 10px 20px;
  }
}
@keyframes bgpos {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 20px 20px;
  }
  100% {
    background-position: 10px 20px;
  }
}

