// linear-gradient
//
.linear-gradient(@default; @direction; @color-stops...) {
  background: -webkit-linear-gradient(@direction, @color-stops) @default;
  background: -moz-linear-gradient(@direction, @color-stops) @default;
  background: -o-linear-gradient(@direction, @color-stops) @default;
  background: -ms-linear-gradient(@direction, @color-stops) @default;
  background: linear-gradient(@direction, @color-stops) @default;
}

// keyframes
//