@main-color: #fff;
@sup-color: darken(@main-color, 10%);
@accent: #FF4453;
@body-color: #363446;

@title-color: darken(softlight(@main-color, @accent), 100%);
@subtitle-color: lighten(@title-color, 10%);

@background-color: @main-color;
@background-empty-color: #777;
@dark-background-color: saturate(@accent, 40%);
@shadow-color: desaturate(darken(@body-color, 10%),10%);