/*@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=cyrillic);*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: 'Verdana', 'Roboto Condensed', sans-serif;
}

.ui-head {
  height: 100px;
  box-shadow: 0 -1px 10px 1px #aaa;
  background-color: #F1F1F1;
}
.ui-wrapper {
  max-width: 840px;
  min-width: 480px;
  margin: 0 auto;
  position: relative;
}

.ui-head input[type="button"] {
  background-color: #3267D6;
  border: none;
  color: #FFF;
  font-size: 10pt;
  text-shadow: 0 1px 1px #333;
  padding: 5px 10px;
  border-radius: 2px;
  margin: 3px;
  box-shadow: 0 1px 1px #aaa;
}

.ui-head input[type="button"]:active, input[type="button"]:focus {
  background-color: #254fa7;
  box-shadow: inset 0 2px 4px #333;
  color: #ddd;
}

.ui-head input[type="search"] {
  border-radius: 4px;
  font-size: 10pt;
  width: 210px;
  padding: 4px 5px;
  border: 1px solid #aaa;
  box-shadow: inset 0 1px 2px #999;
}

.ui-head .search-icon {
  width: 16px;
  height: 16px;
  margin: -4px 5px;
}

.ui-head .ui-wrapper>span {
  margin-top: 53px;
  display: inline-block;
  /*left: 253px;*/
  position: relative;
}

.ui-head span:last-of-type {
  /*margin-right: 253px;*/
  left: 0;
  float: right;
}

.calendar {
  max-width: 841px;
  margin: 10px auto;
}

.calendar td {
  width: 109px;
  height: 109px;
  border: 1px solid #ddd;
  padding: 5px;
  color: #999;
  font-size: 8pt;
}

.calendar-controlls {
  margin: 10px 0;
}

.calendar-controlls .current-date-text {
  width: 125px;
  text-align: center;
  padding: 0 5px;
  display: inline-block;
  font-weight: 300;
}

.calendar .selected {
  box-shadow: inset 0 0 1px 2px #719bff;
  background-color: #d5f0ff;
}
.calendar-controlls input[type="button"] {
  background-color: #fff;
  border: none;
  box-shadow: inset 0 0 5px 0 #999;
  border-radius: 5px;
  font-size: 8pt;
  color: #555;
  line-height: 15px;
}

.calendar .today {
  background-color: #eee;
  color: #333;
  font-weight: bold;
}

.popup {
  position: absolute;
  background-color: #FFF;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 25px 10px 10px;  
}
.new-event {
  /*width: 200px;*/
  top: 90px;
  display: none;
}
.new-event input[type="text"]{
  width: 280px;
  border-radius: 4px;
  display: block;
  font-size: 10pt;
  padding: 4px 5px;
  border: 1px solid #AAA;
  box-shadow: inset 0 1px 2px #b1b1b1;
}
.close-button {
  text-decoration: none;
  color: #ccc;
  font-size: 9pt;
  position: absolute;
  top: 6px;
  right: 10px;
}

.close-button:hover {
  color: #777;
}

.calendar-div {
  min-width: 269px;
  box-shadow: 0 0 10px #a1a1a1;
}

.calendar-div input[type="text"],textarea {
  display: block;
  width: 263px;
  border-radius: 4px;
  font-size: 10pt;
  padding: 4px 5px;
  border: 1px solid #aaa;
  -webkit-box-shadow: inset 0 1px 2px #ccc;
  box-shadow: inset 0 1px 2px #ccc;
  margin: 5px 0;
}

.calendar-div textarea {
  margin-top: 35px;
}

.arrow:after, .arrow:before {
  border: solid transparent;
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
}

.top.arrow:after {
  bottom: 100%;
  border-width: 8px;
  border-bottom-color: #fff;
  left: 15px;
}

.top.arrow:before {
  bottom: 100%;
  border-width: 10px;
  border-bottom-color: #aaa;
  left: 13px;
}

.top-left.arrow:after {
  right: 100%;
  border-width: 8px;
  border-right-color: #fff;
  top: 45px;
}
.top-left.arrow:before {
  right: 100%;
  border-width: 9px;
  border-right-color: #aaa;
  top: 44px;
}

.top-right.arrow:after {
  left: 100%;
  border-width: 8px;
  border-left-color: #fff;
  top: 45px;
}
.top-right.arrow:before {
  left: 100%;
  border-width: 9px;
  border-left-color: #aaa;
  top: 44px;
}

.bottom-left.arrow:after {
  right: 100%;
  border-width: 8px;
  border-right-color: #fff;
  bottom: 45px;
}
.bottom-left.arrow:before {
  right: 100%;
  border-width: 9px;
  border-right-color: #aaa;
  bottom: 44px;
}

.bottom-right.arrow:after {
  left: 100%;
  border-width: 8px;
  border-left-color: #fff;
  bottom: 45px;
}
.bottom-right.arrow:before {
  left: 100%;
  border-width: 9px;
  border-left-color: #aaa;
  bottom: 44px;
}
.event {
  background-color: #a6dbff;
}
.event div {
  color: #777;
  font-size: 9pt;
  font-weight: 700;
  margin-top: 5px;
}
.event div:last-child {
  font-size: 9pt;
  font-weight: 400;
  height: 50px;
  overflow: hidden;
}
.calendar-div .title {
  font-size: 12pt;
  color: #333;
  font-weight: bold;
}
.calendar-div .date {
  font-size: 9pt;
  margin: 10px 0;
}

.search {
  top: 90px;
  right:0;
  width: 200px;
  display: none;
}

.search>div {
  /*box-shadow: inset 0 0 10px #DDD;*/
  padding: 6px;
  /*border: 1px solid #B5C3D1;*/
  font-size: 11pt;
  font-weight: bold;
  margin: 5px 0;
}
.search>div:hover {
  background-color: #397FE7;
  cursor: pointer;
}
.search div div:last-child {
  margin: 5px 0;
  font-size: 9pt;
  color: #393939;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
}