
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html, body {
  height: 100%;
}
html {
  background: #FFF7EA;
}
.dotted-bg {
  background: url("../img/noisy-texture-100x100.png");
}
.container {
  max-width: 1000px;
  min-width: 450px;
  height: 100%;

  background: #5e4444;
  margin: 0 auto;
  box-shadow: 0 0 10px 2px #333;
}
.menu {
  width: 100%;
  height: 35px;
  display: table;
  text-align: center;
  border-collapse: collapse;
}
.menu-top-title {
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  background: #5e4444;
  color: #E8E8E4;
  font-family: 'Bad Script', cursive;
}
.menu-item {
  display: table-cell;
  vertical-align: top;
}
.menu-item a {
  width: 100%;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  line-height: 35px;

  background: #5e4444;
  border: 1px solid #fff;
  box-sizing: border-box;
  color: #e8e8e4;
  font-size: 20pt;
  text-decoration: none;
}
.menu-item:last-child a {
  border-right: none;
}
.menu-item a:hover {
  background: #fff;
  color: #5e4444;
}
.logo {
  width: 150px;
  background: #5e4444;
  color: #e8e8e4;
  font-size: 54pt;
}
.content {
  padding-top: 10px;
  padding-bottom: 1px;
  background: #5e4444;
}
.content-item {
  background: #FFF7EA;
  margin:0 10px 10px;
  padding: 10px;
  min-height: 200px;
  position: relative;
  border: 1px solid #444;
  box-shadow: inset 0 0 3px 2px #333;
}
.content-item span {
  display: inline-block;
  vertical-align: top;
  margin-left: 210px;
}
.content-item .img-container {
  width: 200px;
  height: 200px;
  display: inline-block;
  position: absolute;
  top: 0;
  overflow: hidden;
  margin: auto;
  left: 10px;
  bottom: 0;
  border: 3px double #544;
}
.content-item .img-container img {
  height: 100%;
  
}
.content-item .img-container:hover {
  -webkit-transition: all .25s ease-in;
     -moz-transition: all .25s ease-in;
      -ms-transition: all .25s ease-in;
       -o-transition: all .25s ease-in;
          transition: all .25s ease-in;
  width: auto;
}
.content-item h3 {
  font-size: 1.5em;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 2px;
  border: 1px solid #433;
  color: #FFF;
  background: #755;
  box-shadow: inset 0 2px 10px #333;
}
.content-item p {
  text-align: justify;
}