html {
  height: 100%;
  font-family: monospace;
  font-size: 14pt;
}

hr {
  background: #F05;
  border: none;
  border-bottom: 2px #FFF dashed;
}

h1 {
  text-align: center;
}

ul {
  list-style-image: url("../images/sword_list_icon_16px.png");
}

a {
  color: #dd0055;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

sub {
  color: #aaa;
  text-transform: uppercase;  
  font-size: 0.5em;
}

sub:before {
  content: '* ';
}

.content {
  width: 1000px;
  margin: 0 auto;
}

.index {
  margin: 40px;
}