.align_right {
  float: right;
}

.align_right:after {
  clear:both;
  content: '';
  display: block;
  zoom: 1;
}

.g_style_bottom-shadow {
  -webkit-box-shadow: 0 2px 2px #999;
  -moz-box-shadow: 0 2px 2px #999;
  box-shadow: 0 2px 2px #999;
}
.g_style_border-bottom {
  border-bottom: 1px solid #ccc; 
}

.icon_search {
  &:before {
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    content: ".";
    background-image: url("../img/search_icon.png")
  }
}