.grid {
  margin: 10px auto;

  &.grid_plain .grid__cell{
    border-radius: 0;
    box-shadow: none;
    background: none;
  }
  &.grid_plain .cell__bottom {
    padding: 15px 0;
    margin: 0;
  }

  &> .grid__title {
    margin: 30px 5px;
  }
  &> .grid__content {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

.grid__cell {
  vertical-align: top;
  display: inline-block;
  margin: 5px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px  2px @element-shadow-color;
  text-align: left;
  font-family: Arial;
  background: @element-background-color;
}

.grid__content {
    margin: 0 auto;
    text-align: center;
}

.cell__bottom {
    padding: 15px;
    border-radius: 0 0 4px 4px;
}
.cell__bottom__subtitle {
  margin-top: 10px;
  font-weight: normal;
  font-size: 0.8em;
  color: #999;
}
.cell__bottom__list {
  border-top: 2px solid @element-background-color;
  border-bottom: 2px solid @element-background-color;
  padding: 15px 0;
}

.cell__top__title {
    font-size: 1em;
    font-weight: bold;
}

@media screen and (max-width: 1920px) {
  .grid {
    width: @content-lsc-width;
  }
  .grid__cell {
    width: @cell-lsc-width;
    margin: @cell-lsc-margin;
  }
  .cell__caption {
    width: @cell-lsc-width;
    height: 130px;
  }
  &.grid_plain .grid__cell{
    width: @cell-lsc-width - 10px;
    margin: @cell-lsc-margin + 5px;
  }
}
@media screen and (max-width: 1120px) {
  .grid{
    width: @content-ssc-width;
  }
  .grid__cell {
    width: @cell-ssc-width;
    margin: @cell-ssc-margin;
  }
  .cell__caption {
    width: @cell-ssc-width;
    height: 130px;
  }
  &.grid_plain .grid__cell{
    width: @cell-ssc-width - 10px;
    margin: @cell-ssc-margin + 5px;
  }
}