.header {
  background-color: @element-background-color-invert;
  height: 50px;
  padding: 0 20px;
  // line-height: 50px;
}

.header__logo {
  width: 100px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
}

.logo {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#2FC966), to(#FF0052));
  background-image: -webkit-linear-gradient(90deg, #2FC966 0%, #FF0052 100%);
  background-image: -moz-linear-gradient(90deg, #2FC966 0%, #FF0052 100%);
  background-image: -o-linear-gradient(90deg, #2FC966 0%, #FF0052 100%);
  background-image: linear-gradient(90deg, #2FC966 0%, #FF0052 100%);
}

.header__menu {
  display: inline-block;
}


.header__auth {
  display: inline-block;
  height: inherit;
}

.auth {

}

.auth__registre {
  display: inline-block;
}

.auth__login {
  display: inline-block;
}

.menu {
  display: block;
}

.menu_direction_horizontal>.menu__item {
  display: inline-block;
}

.menu__item {

}