.search__inputs {
  text-align: center;
}

.input {

}

.input_type_search {
  font-size: 2em;
  width: 75%;
  border: none;
}

.search__options {
  text-align: center;
}
.search__options__section {
  width: 650px;
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

.search__options__location__section {
   display: inline-block;
}

.search__inputs__container {
  width: @cell-lsc-width * 3;
  margin: 0 auto;
}

.button {
  background-color: @element-background-color;
  border: 1px solid @element-border-color;
  border-radius: 4px;
  padding: 7px;
  font-family: 'Arial', 'serif';
  font-size: 0.9em;
  color: @element-text-color;
  text-decoration: none;
  margin: 5px 10px;
  cursor: pointer;

  &:hover {
    background-color: @element-hover-color;
  }
  &.button_style_text-only {
    background-color: transparent;
    border: none;
    color: @element-border-color;
    padding: 5px 5px;
    height: 40px;
    vertical-align: middle;
  }
  &.button_state_highlighted {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid @element-text-color;
    border-radius: 4px;
    color: @element-highlight-color;
  }
  &.button_size_big {
    font-size: 1.1em;
    font-weight: bold;
    padding: 15px 35px;
  }
  &.button_color_blue {
    background-color: @accent-color;
    color: #fff;
  }
}
