// COLORS

@main-color: #111;

@element-background-color: #eee;
@element-highlight-color: #50ff00;
@element-text-color: #444;
@element-border-color: #ccc;
@element-shadow-color: darken(@element-background-color, 20%);
@element-hover-color: softlight(@element-background-color, @element-highlight-color);


@element-background-color-invert: darken(@element-background-color, 85%);

@accent-color: #00A3FF;

// DIMS

@title-color: @main-color;
@sub-title-color: lighten(@title-color, 50%);

@content-lsc-width: 1092px;
@content-ssc-width: 850px;

@cell-lsc-margin: 5px;
@cell-ssc-margin: 10px;

@cell-lsc-width: @content-lsc-width / 4 - @cell-lsc-margin*2 - 4px;
@cell-ssc-width: @content-ssc-width / 3 - @cell-ssc-margin*2 - 4px;
