@c-width: @carousel-items * (@carousel-item-width + @carousel-item-margin * 2);

.carousel {
  display: table;
  position: absolute;
  overflow: hidden;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel__container {
  display: table-row;
  position: absolute;
  width: @c-width;
  height: @carousel-item-height;
  margin-left: 50%;
}

.carousel__item {
  display: table-cell;
  height: @carousel-item-height;
  padding: 0 @carousel-item-margin;
  vertical-align: top;
  max-width: 300px;

  a {
    text-decoration: underline;
    color: @text-color;

    &:hover, &:active {
      color: @text-highlights-color;
    }
  }
}

.carousel {
  .carousel__prev, .carousel__next {
    display: block;
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: rgba(100,100,100,0.5);
    color: #fff;
    text-align: center;
    vertical-align: middle;
    z-index: 100;
    font-size: 5em;
    line-height: 75x;
    text-decoration: none;
    border-radius: 50%;
    top: 125px;
    transition: background 0.2s ease-in;
    
    &:hover {
      background-color: @accent-color;
    }

    
  }

  .carousel__prev {
    left: -25px;
    &:before {
      display: block;
      content: "";
      height: 75px;
      background: url(../img/arrowl.svg) no-repeat 65%;
    }
  }

  .carousel__next {
    right: -25px;
    &:before {
      display: block;
      content: "";
      height: 75px;
      background: url(../img/arrow.svg) no-repeat 35%;
    }
  }
}
.carousel__item__image img {
  height: 200px;
}