.content {

  .photos, .photos__friends {
    height: 200px;
    margin: 60px auto;
    box-sizing: border-box;
    width: 100%;
  }
  .header {
    text-align: center;
  }
}

.content__article p {
  margin: 20px;
}

.friends {
  margin-top: 40px;
}

p {
  font-family: 'Roboto', 'sans-serif';
  font-size: 1.1em;
  font-weight: 300;
}


.promo__text {
  text-align: center;
  margin: 60px 5px;

  .sub-title {
    margin: 30px 10px;
  }
}
.content .photos {
  height: 250px;
  .carousel {
    .header {
      width: 300px;
      padding: 5px;
      box-sizing: border-box;
      font-size: 0.9em; 
    }
  }
}

.content .photos__friends{
  
  height: 540px;
  margin: 20px auto 60px;
  .carousel {
    height: 540px;

    .carousel__item {
      width: 200px;
    }
  }
}

.carousel__item__text .header {
  font-weight: 400;
}
.carousel__item__text p {
  font-size: 1em;
  font-weight: 300;
  padding: 5px;
}

.social {
  text-align: center;
  font: 1.4em 'Roboto','ARial','sans-serif';
  color: @text-color;
  margin: 10px;
}

.social__link, .social__link:before {
  background-image: url(../img/buttons.png);
  width: 374px;
  height: 87px;
  margin: 0 20px;

  display: inline-block;

  -webkit-transition: opacity .25s ease;
     -moz-transition: opacity .25s ease;
      -ms-transition: opacity .25s ease;
       -o-transition: opacity .25s ease;
          transition: opacity .25s ease;
  
}

&.vk {
  background-position: left 0 top -264px;
  opacity: 1;

  &:before {
    content: "";
    margin: auto;
    background-position: left 0 top -176px;
    opacity: 0;
  }
  &:hover:before {
      opacity: 1;
  }
 } 

&.fb{
  background-position: left 0 top -95px;

  &:before {
    content: "";
    margin: auto;
    background-position: left 0 top -7px;
    opacity: 0;
  }

  &:hover:before {
      opacity: 1;
  }
}


.partners {
  height: 66px;
  background: url(../img/partners.png) no-repeat 50%;
  margin: 30px 0;
}

.video {
  margin: 0 auto;
  text-align: center;
}