.footer {
  font-size: 1.1em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: @compliment-color;
  color: @text-color-invert;
  width: 100%;
  box-shadow: inset 0 0 10px 1px #000;
  
  .footer__content {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin: auto;
    width: 100%;
    padding: 20px;

    p {
      margin: 20px 0;
    }
}

.share__buttons {
  display: block;
  text-align: center;
  margin: 2em auto;
}

.icons {
  position: relative;
  background: rgba(128,128,128,0.05);
  border-radius: 4em;
  padding: 0.35em 0.75em 0.35em 0.75em;
  font-size: 1.25em;
  cursor: default;
  display: inline-block;
  li {
    display: inline-block;
    a {
      text-decoration: none;
      display: inline-block;
      background: none;
      width: 2.5em;
      height: 2.5em;
      line-height: 2.5em;
      text-align: center;
      border-radius: 100%;
      border: 0;
      color: inherit;

      &:hover, &:active{
        color: @text-highlights-color;
        -webkit-transition: color .25s ease-in;
           -moz-transition: color .25s ease-in;
            -ms-transition: color .25s ease-in;
             -o-transition: color .25s ease-in;
                transition: color .25s ease-in;
      }
    }
  }
}

.fa.solo span {
  display: none;
}
.contacts__text {
  width: 100%;
  vertical-align: top;
  text-align: center;
}
.contacts__map {
  height: 400px;
  width: 100%;
}
.contacts__adress {
  text-align: center;
  margin-top: 40px;
  font: @sub-title-typo;
  font-weight: 300;
}

}


@media only screen and (min-width: @width-ss-size) {
  .contacts__text, .contacts__map {
    display: block;
    width: 100%;
  } 
}
@media only screen and (min-width: @width-ms-size) {
  .contacts__text, .contacts__map {
    display: inline-block;
    width: 100%;
  } 
}
@media only screen and (min-width: @width-bs-size) {
  .contacts__text, .contacts__map {
    display: inline-block;
    width: 49%;
  } 
}
@media only screen and (min-width: @width-ss-size) and (-webkit-min-device-pixel-ratio: 1),
only screen and (min-width: @width-ss-size) and (-moz-min-device-pixel-ratio: 1),
only screen and (min-width: @width-ss-size) and (-ms-min-device-pixel-ratio: 1),
only screen and (min-width: @width-ss-size) and (-o-min-device-pixel-ratio: 1),
only screen and (min-width: @width-ss-size) and (min-device-pixel-ratio: 1),
only screen and (min-width: @width-ss-size) and (min-resolution: 1dppx)
 {
  .contacts__text, .contacts__map {
    display: block;
    width: 100%;
  }  
}
@media only screen and (min-width: @width-ms-size) and (-webkit-min-device-pixel-ratio: 1),
only screen and (min-width: @width-ms-size) and (-moz-min-device-pixel-ratio: 1),
only screen and (min-width: @width-ms-size) and (-ms-min-device-pixel-ratio: 1),
only screen and (min-width: @width-ms-size) and (-o-min-device-pixel-ratio: 1),
only screen and (min-width: @width-ms-size) and (min-device-pixel-ratio: 1),
only screen and (min-width: @width-ms-size) and (min-resolution: 1dppx)
 {
  .contacts__text, .contacts__map {
    display: block;
    width: 100%;
  }  
}
@media only screen and (min-width: @width-bs-size) and (-webkit-min-device-pixel-ratio: 1),
only screen and (min-width: @width-bs-size) and (-moz-min-device-pixel-ratio: 1),
only screen and (min-width: @width-bs-size) and (-ms-min-device-pixel-ratio: 1),
only screen and (min-width: @width-bs-size) and (-o-min-device-pixel-ratio: 1),
only screen and (min-width: @width-bs-size) and (min-device-pixel-ratio: 1),
only screen and (min-width: @width-bs-size) and (min-resolution: 1dppx)
 {
  .footer .contacts__text, .footer .contacts__map {
    display: inline-block;
    width: 49%;
  }  
}

@media only screen and (min-width: @width-ss-size) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-width: @width-ss-size) and (-moz-min-device-pixel-ratio: 2),
only screen and (min-width: @width-ss-size) and (-ms-min-device-pixel-ratio: 2),
only screen and (min-width: @width-ss-size) and (-o-min-device-pixel-ratio: 2),
only screen and (min-width: @width-ss-size) and (min-device-pixel-ratio: 2),
only screen and (min-width: @width-ss-size) and (min-resolution: 2dppx)
 {
  .contacts__text, .contacts__map {
    display: block;
    width: 100%;
  }  
}
@media only screen and (min-width: @width-ms-size) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-width: @width-ms-size) and (-moz-min-device-pixel-ratio: 2),
only screen and (min-width: @width-ms-size) and (-ms-min-device-pixel-ratio: 2),
only screen and (min-width: @width-ms-size) and (-o-min-device-pixel-ratio: 2),
only screen and (min-width: @width-ms-size) and (min-device-pixel-ratio: 2),
only screen and (min-width: @width-ms-size) and (min-resolution: 2dppx)
 {
  .contacts__text, .contacts__map {
    display: block;
    width: 100%;
  }  
}
@media only screen and (min-width: @width-bs-size) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-width: @width-bs-size) and (-moz-min-device-pixel-ratio: 2),
only screen and (min-width: @width-bs-size) and (-ms-min-device-pixel-ratio: 2),
only screen and (min-width: @width-bs-size) and (-o-min-device-pixel-ratio: 2),
only screen and (min-width: @width-bs-size) and (min-device-pixel-ratio: 2),
only screen and (min-width: @width-bs-size) and (min-resolution: 2dppx)
 {
  .footer .contacts__text, .footer .contacts__map {
    display: inline-block;
    width: 49%;
  }  
}
