.header {

  .header__top-menu {
    position: absolute;
    top: 5px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    z-index: 1;

  }


  .header__top-art {
    height: 743px;
    background-image:  url(../../assets/img/be_smart_logo_small.jpg);
    display: block;
    position: relative;
    background-position: 50% 50%;
    background-size: cover;
    box-shadow: rgb(51, 51, 51) 0px 0px 10px 1px inset;
  }
}