@-webkit-keyframes letteranim {
  from{
    top: -5px;
  }
  to {
    top: 5px;
  }
}
@-moz-keyframes letteranim {
  from{
    top: -5px;
  }
  to {
    top: 5px;
  }
}
@-ms-keyframes letteranim {
  from{
    top: -5px;
  }
  to {
    top: 5px;
  }
}
@-o-keyframes letteranim {
  from{
    top: -5px;
  }
  to {
    top: 5px;
  }
}
@keyframes letteranim {
  from{
    top: -5px;
  }
  to {
    top: 5px;
  }
}


@-webkit-keyframes topanim {
  from {
    background-image: linear-gradient(180deg, darken(#844833, 25%) 0%, darken(#a8888a, 25%) 100%);
  }
  to {
    background-image: linear-gradient(180deg, darken(#a8888a, 25%) 0%, darken(#844833, 25%) 100%);
  }
}
@-moz-keyframes topanim {
  from {
    background-image: linear-gradient(180deg, darken(#844833, 25%) 0%, darken(#a8888a, 25%) 100%);
  }
  to {
    background-image: linear-gradient(0deg, darken(#844833, 25%) 0%, darken(#a8888a, 25%) 100%);
  }
}
@-ms-keyframes topanim {
  from {
    background-image: linear-gradient(180deg, darken(#844833, 25%) 0%, darken(#a8888a, 25%) 100%);
  }
  to {
    background-image: linear-gradient(0deg, darken(#844833, 25%) 0%, darken(#a8888a, 25%) 100%);
  }
}
@-o-keyframes topanim {
  from {
    background-image: linear-gradient(180deg, darken(#844833, 25%) 0%, darken(#a8888a, 25%) 100%);
  }
  to {
    background-image: linear-gradient(0deg, darken(#844833, 25%) 0%, darken(#a8888a, 25%) 100%);
  }
}
@keyframes topanim {
  from {
    background-image: linear-gradient(180deg, darken(#844833, 25%) 0%, darken(#a8888a, 25%) 100%);
  }
  to {
    background-image: linear-gradient(0deg, darken(#844833, 25%) 0%, darken(#a8888a, 25%) 100%);
  }
}
