.menu {
  list-style: none;
  display: table;
  text-align: center;
  margin: auto;
  width: 32%;
  border-spacing: 0;
  border-collapse: collapse;

  // & .menu__container:before, & .menu__container:after {
  //   min-width: 320px;
  //   height: 10px;
  //   display: table-cell;
  //   content: "";
  // }

  & .menu__container {
    display: table-row;
    text-align: center;
  }
  
  & .menu__item:first-child {
    border-left: none;
  }

  & .menu__item{
    display: table-cell;
    padding: 10px 15px;
    font: @menu-typo;
    color: @menu-text-color;
    text-transform: uppercase;
    
    a {
      color: #fff;
      font: @menu-typo;
      text-decoration: none;
    }
    & a:hover {
      cursor: pointer;
      color: @accent-color;
      text-decoration: underline;
    }

    & a:active {      
      color: @accent-color;
      text-decoration: underline;
    }
  }
}