@menu-typo: 300 1.1em  'Roboto','Arial', 'sans-serif';
@header-typo: 300 2em  'Roboto','Arial', 'sans-serif';
@sub-title-typo: 400 1.1em 'Roboto', 'Arial', 'sans-serif';

@art-typo: bold 15em 'Arial', 'sans-serif';

html {
  color: @text-color;
}

h1 {
  font: @header-typo;
}

.sub-title {
  text-align: center;
  font: @sub-title-typo;
  color: @text-sub-title-color;
}



a