@main-color: #fff;
@compliment-color: #2b262d;
@accent-color: rgba(66, 126, 143, 0.8);
@accent-color-2: #427E8F;

@bg-color: @main-color;
@text-color: @compliment-color;
@text-color-invert: @main-color;
@headers-color: #333;
@menu-text-color: @main-color;
@text-sub-title-color: #555;
@text-highlights-color: @accent-color-2;





@width-ls-size:1199px;
@width-bs-size:1023px;
@width-ms-size:810px;
@width-ss-size:479px;


@carousel-items: 15;
@carousel-item-width: 300px;
@carousel-item-height: 200px;
@carousel-item-margin: 1px;
