@-ms-viewport { width:device-width; zoom:1.0; }
body {
  overflow-x: hidden;
}

.wrapper {
  background-color: @bg-color;
}
.header, .content, .footer {
    display: block;
    margin: 0 auto;
}
.content {
  width: 270px;
}

 .menu{
    width: 100%;
    .menu__item {
      display: block;
    }
  }
@media only screen and (min-width: @width-ss-size) {
  .content {
    width: @width-ss-size - @width-ss-size/2 * 0.1;
  }
  .menu{
    width: 100%;
    .menu__item {
      display: block;
    }
  }
}
@media only screen and (min-width: @width-ms-size) {
  .content {
    width: @width-ms-size - @width-ms-size/2 * 0.1;
  }
  .menu{
    width: 70%;
    .menu__item {
      display: table-cell;
    }
  }
}
@media only screen and (min-width: @width-bs-size) {
  .content {
    width: @width-bs-size - @width-bs-size/2 * 0.1;
  }
  .menu{
    width: 50%;
  }
}
@media only screen and (min-width: @width-ls-size) {
  .content {
    width: @width-ls-size - @width-ls-size/2 * 0.1;
  }
}
@media only screen and (min-width: @width-ss-size) and (-webkit-min-device-pixel-ratio: 1),
only screen and (min-width: @width-ss-size) and (-moz-min-device-pixel-ratio: 1),
only screen and (min-width: @width-ss-size) and (-ms-min-device-pixel-ratio: 1),
only screen and (min-width: @width-ss-size) and (-o-min-device-pixel-ratio: 1),
only screen and (min-width: @width-ss-size) and (min-device-pixel-ratio: 1),
only screen and (min-width: @width-ss-size) and (min-resolution: 1dppx)
 {
  .content {
    width: @width-ss-size - @width-ss-size/2 * 0.1;
  }
  .menu{
    width: 100%;
     .menu__item {
      display: block;
    }
  }
}
  
@media only screen and (min-width: @width-ms-size) and (-webkit-min-device-pixel-ratio: 1),
only screen and (min-width: @width-ms-size) and (-moz-min-device-pixel-ratio: 1),
only screen and (min-width: @width-ms-size) and (-ms-min-device-pixel-ratio: 1),
only screen and (min-width: @width-ms-size) and (-o-min-device-pixel-ratio: 1),
only screen and (min-width: @width-ms-size) and (min-device-pixel-ratio: 1),
only screen and (min-width: @width-ms-size) and (min-resolution: 1dppx)
 {
  .content {
    width: @width-ms-size - @width-ms-size/2 * 0.1;
  }
   .menu{
    width: 70%;
  .menu__item {
      display: table-cell;
    }
  }
}

@media only screen and (min-width: @width-bs-size) and (-webkit-min-device-pixel-ratio: 1),
only screen and (min-width: @width-bs-size) and (-moz-min-device-pixel-ratio: 1),
only screen and (min-width: @width-bs-size) and (-ms-min-device-pixel-ratio: 1),
only screen and (min-width: @width-bs-size) and (-o-min-device-pixel-ratio: 1),
only screen and (min-width: @width-bs-size) and (min-device-pixel-ratio: 1),
only screen and (min-width: @width-bs-size) and (min-resolution: 1dppx)
 {
  .content {
    width: (@width-bs-size - @width-bs-size/2 * 0.1);
  }  
   .menu{
    width: 50%;

  }
}
@media only screen and (min-width: @width-ls-size) and (-webkit-min-device-pixel-ratio: 1),
only screen and (min-width: @width-ls-size) and (-moz-min-device-pixel-ratio: 1),
only screen and (min-width: @width-ls-size) and (-ms-min-device-pixel-ratio: 1),
only screen and (min-width: @width-ls-size) and (-o-min-device-pixel-ratio: 1),
only screen and (min-width: @width-ls-size) and (min-device-pixel-ratio: 1),
only screen and (min-width: @width-ls-size) and (min-resolution: 1dppx)
 {
  .content {
    width: (@width-ls-size - @width-ls-size/2 * 0.1);
  }  
}

@media only screen and (min-width: @width-ss-size) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-width: @width-ss-size) and (-moz-min-device-pixel-ratio: 2),
only screen and (min-width: @width-ss-size) and (-ms-min-device-pixel-ratio: 2),
only screen and (min-width: @width-ss-size) and (-o-min-device-pixel-ratio: 2),
only screen and (min-width: @width-ss-size) and (min-device-pixel-ratio: 2),
only screen and (min-width: @width-ss-size) and (min-resolution: 2dppx)
 {
.content {
    width: (@width-ss-size - @width-ms-size/2 * 0.1);
  }
   .menu{
    width: 100%;
        .menu__item {
      display: block;
    }
  }

}
@media only screen and (min-width: @width-ms-size) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-width: @width-ms-size) and (-moz-min-device-pixel-ratio: 2),
only screen and (min-width: @width-ms-size) and (-ms-min-device-pixel-ratio: 2),
only screen and (min-width: @width-ms-size) and (-o-min-device-pixel-ratio: 2),
only screen and (min-width: @width-ms-size) and (min-device-pixel-ratio: 2),
only screen and (min-width: @width-ms-size) and (min-resolution: 2dppx)
 {
.content {
    width: (@width-ms-size - @width-ms-size/2 * 0.1);
  }
  .menu{
    width: 70%;
    .menu__item {
      display: table-cell;
    }
  }

}

@media only screen and (min-width: @width-ls-size) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-width: @width-ls-size) and (-moz-min-device-pixel-ratio: 2),
only screen and (min-width: @width-ls-size) and (-ms-min-device-pixel-ratio: 2),
only screen and (min-width: @width-ls-size) and (-o-min-device-pixel-ratio: 2),
only screen and (min-width: @width-ls-size) and (min-device-pixel-ratio: 2),
only screen and (min-width: @width-ls-size) and (min-resolution: 2dppx)
 {
.content {
    width: (@width-bs-size - @width-bs-size/2 * 0.1);
  }
  .menu{
    width: 50%;

  }

}
@media only screen and (min-width: @width-ls-size) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-width: @width-ls-size) and (-moz-min-device-pixel-ratio: 2),
only screen and (min-width: @width-ls-size) and (-ms-min-device-pixel-ratio: 2),
only screen and (min-width: @width-ls-size) and (-o-min-device-pixel-ratio: 2),
only screen and (min-width: @width-ls-size) and (min-device-pixel-ratio: 2),
only screen and (min-width: @width-ls-size) and (min-resolution: 2dppx)
 {
.content {
    width: (@width-ls-size - @width-ls-size/2 * 0.1);
  }
}